{{extend 'layout.html'}}
<style>
        .button {
            background-color: #000000;
            border: none;
            color: white;
            padding: 7px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
        }
        
    </style>
<a href="{{=URL('default', 'index')}}" class="button">Home Page</a>
<a href="{{=URL('default', 'play')}}" class="button">Play the game!</a>
<a href="{{=URL('default', 'profile')}}" class="button">View your Profile</a>
